
/* Fonts
 "JetBrains Mono", "Gravitas One", "Momo Signature", "Playwrite England Joined Guides",
 "Playfair Display", "Playwrite Cuba Guides", "Dancing Script",  */ 
/* colors palates
     "#061E29", "#1D546D", "#5F9598", "#F3F4F4", 
     "#0F2854", "#1C4D8D", "#4988C4", "#BDE8F5", */
* {
   margin: 0; 
   padding: 0 ;
}
.container {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background: #061E29;
}
h1.main {
  padding-top: 30px;
  font-family: "Momo Signature" ;
  text-align : center;
  color      : #BDE8F5;
}
h2 {
  padding-top: 5px;
  font-size: 1rem;
  font-family: "JetBrains Mono" ;
  text-align: center;
  color: #4988C4;
}

ul {
  list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 60px;
   margin: 0px;
   padding-top: 15px;
 }
ul li a {
  color: #4988C4;
  text-decoration: none;
}
ul li a:hover {
  color: #BDE8F5;
}
ul li a.active {
  text-decoration: underline;
  color: #BDE8F5;
}
hr {
  border: 2px solid #BDE8F5;
  width: 80%;
  margin: 10px auto;
}
.portfolio {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display";
  font-size: 2.5rem;
  color: #4988C4;
  } 
hr.hr1{
  border: 2px solid #BDE8F5;
  width: 30%;
  margin: 5px auto;
}

.intro {
  width: 25%;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 5px;
  font-family: "JetBrains Mono";
  font-size: 1rem;
  border: 1px solid #4988C4;
  color: #4988C4;
  background-color: #BDE8F5;
}


